@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Amatic SC';
    src: url('/fonts/AmaticSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
